body {
  background :url("https://cdn.jsdelivr.net/gh/Madoka-Kaname/Madoka-Kaname.github.io/source/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position: 50% 50%;
}

.content-wrap {
  opacity: 0.9;
}

.sidebar {
  opacity: 0.9;
}

.header-inner {
  background: rgba(255,255,255,1);
  opacity: 1;
}

.main-inner {
   opacity: 0.9;
}
